<h3>Bring back beverly hills <font color= "Deeppink"> 90210</font> 

    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' >
</h3>

        <form method="post" class="fancyform">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <p>{{message}}</p>
            <p class= "error">{{error}}</p>


<h2> Login in </h2>
<div>
          <input id="email" name="email" type="text" required>
          <label for="email">Enter your Email</label>
</div>
        <div>
          <input id="password" name="password" type="password" required>
          <label for="name">Password</label>
        </div>


        <div class="button4">
            <input class="button-input" type="submit" value="Login in">
        </div>
        </form>
