<h1>Bring back beverly hills <font color="Deeppink"> 90210</font> petition

    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet'>
</h1>



<div class="test">


        <div class="form">



            <form method="POST" class="myform">
                <input name="signature" type="hidden" id="signature-input">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <canvas id="signature" width="300" height="100"></canvas><br>
                <br>
                <div class="button">
                    <input class="button-input" type="submit" value="submit">
                </div> <br>
                <div class="button">
                    <input class="button-input" onclick="clearSig(event)" type="submit" value="clear">
                </div>
            </form>



            
        </div>

    
</div>