

        <form method="post" class="fancyform">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <h2> Tell us about you ! </h2>
        <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet'>
        <div>

          <input id="City" name="city" type="city" required>
          <label for="City"> City</label>
        </div>
        <div>
          <input id="Age" name="age" type="Age" required>
          <label for="Age"> Age</label>
        </div>
        <div>
          <input id="favoriteActor" name="favoriteActor" type="favoriteActor" required>
          <label for="favoriteActor">favorite Actor</label>
        </div>


        <div class="button4">
            <input class="button-input" type="submit" value="READY">
        </div>
        </form>
