
<h3>Bring back beverly hills <font color= "Deeppink"> 90210</font> petition

    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' >
</h3>
<form method="post" class="fancyform">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <h2> Are you already <a href="/login" font-color= "red" >Register ? </a></h2>
<h2> Register to my Petition </h2>
<div>

  <input id="name" name="firstname" type="text" required>
  <label for="name">Your Name</label>
</div>
<div>
  <input id="name" name="lastname" type="text" required>
  <label for="name">Your Last Name</label>
</div>
<div>
  <input id="email" name="email" type="text" required>
  <label for="name">Enter your Email</label>
</div>
<div>
  <input id="password" name="password" type="password" required>
  <label for="name">Password</label>
</div>
<div>
  <input id="confirmPassword" name="confirmPassword" type="password" required>
  <label for="name">Confirm Password</label>
</div>

<div class="button3">
    <input class="button-input" type="submit" value="Sign up">
</div>
</form>
