<h3>Thank you for signing this petition! <font color= "Deeppink"> 90210</font> 

    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' >
</h3>


  <h2>
  <a class ="thankslink" href="/signers" color= "white" >Here is the list with our Signers </a>
  </h2>
